[data-bs-theme="dark"] {
  --bs-body-bg: hsl(230, 17%, 14%);
  --bs-body-color: hsl(0, 0%, 100%);
  --card-bg: hsl(228, 28%, 20%);
  --card-color: hsl(228, 34%, 66%);
  --top-bg-pattern: hsl(232, 19%, 15%);
  --toggle-color: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
  --hover-bg: hsl(232, 19%, 25%);
}
