[data-bs-theme="light"] {
  --bs-body-bg: hsl(0, 0%, 100%);
  --bs-body-color: hsl(230, 17%, 14%);
  --card-bg: hsl(227, 47%, 96%);
  --card-color: hsl(228, 12%, 44%);
  --top-bg-pattern: hsl(225, 100%, 98%);
  --toggle-color: hsl(230, 22%, 74%);
  --hover-bg: hsl(232, 33%, 91%);
}